<p class="pankuzu">
  <%= link_to 'トップページ', '#', class: 'common_a' %>
  >
  管理画面
</p>
<div class="common_field_title" style="margin-bottom: 0px;">
  <h1>各種情報登録</h1>
  <div class="underline"></div>
</div>
<div class="admin_lsit">
  <%= link_to "学びの資料", learn_categories_path, class: "back_btn" %>
</div>
