<header>
  <div class="header">
    <div class="header_left">
      <%= image_tag 'login_icon.png' %>
    </div>
    <ul class="header_right">
      <li>
        <%= link_to 'コース一覧', '#' %>
      </li>
      <li>
        <%= link_to '管理画面', admins_index_path %>
      </li>
      <li>
        <%= link_to 'ログアウト', '#' %>
      </li>
    </ul>
  </div>
</header>
